
.Cert-container {
    position: relative;
    margin-top: 20px;
    padding: 50px;
    background-color: #F9F7EA;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500vh; 
    overflow: hidden; 
  }
  
  .spacer {
    height: 500px; 
  }

