.Cert-container {
    position: relative;
    margin-top: 20px;
    padding: 50px;
    background-color: #F9F7EA;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500vh; 
    overflow: hidden; 
  }
  


.cert {
    font-size: 10rem;
    color: #333;
    font-family: 'BemirsDemo', sans-serif;
    margin-bottom: 0px;
    margin-top: 320px;
    z-index: 10;
  }