.Competition-container {
    position: relative;
    margin-top: -80px;
    padding: 50px;
    background-color: #F9F7EA;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 97.8vh; 
    overflow: hidden; 
  }
  


.comp {
    font-size: 10rem;
    color: #333;
    font-family: 'BemirsDemo', sans-serif;
    margin-bottom: -30px;
    margin-top: 150px;
    z-index: 10;
    animation: popdown12 2s ease-in-out forwards;
  }

