@font-face {
    font-family: 'CsClaireMono';
    src: url('../fonts/CsClaireMonoDemoRegular-0vdyX.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.Contacts-container {
  display: flex;
  justify-content: space-between; /* Space between form and image */
  align-items: center;
  padding: 50px;
  background-color: #F9F7EA;
  min-height: 89vh; /* Adjust as needed */
  overflow: hidden; 
}

.connect {
  font-family: 'CsClaireMono', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 200px;
  animation: popup2  2s;
}

.contact-form {
  width: 150%; /* Adjust width of the form */
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  animation: popup1  2s;
}

.contact-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.bird-image {
  width: 40%; /* Adjust width of the image */
  margin-top: 100px;
}

.bird-image img {
  max-width: 50%; /* Ensure the image takes up the full container */
  height: auto;
  margin-left: 250px;
  animation: popup  2s;
}


.vertical-line1 {
  width: 3px;
  margin-top: 100px;
  height: 700px;
  background-color: #75756e;
  position: absolute;
  left:61.25%;

}




@keyframes popup {
  0% {
    transform: translateY(1000px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popup1 {
  0% {
    transform: translateY(1000px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popup2 {
  0% {
    transform: translateY(1000px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}