.Project-container {
  position: relative;
  background-color: #F9F7EA;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 250vh;
  overflow: hidden; /* Hide blocks when they pass the screen */
}

.project {
  font-size: 10rem;
  color: #333;
  font-family: 'BemirsDemo', sans-serif;
  text-align: center;
  margin-top: 200px; /* Move the title up */
  margin-bottom: 700px; /* Reduce spacing below the title */
}

.line {
  width: 80%; /* Adjust the width to control the length of the line */
  height: 3px; /* Height of the line */
  background-color: #333; /* Color of the line */
  margin: -400px auto 00px auto; /* Center the line and adjust spacing */
}

.line1 {
  width: 80%; /* Adjust the width to control the length of the line */
  height: 3px; /* Height of the line */
  background-color: #333; /* Color of the line */
  margin: 100px auto 00px auto; /* Center the line and adjust spacing */
}

.block-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 100px auto 0 auto; /* Adjust margin to move blocks */
}

.block {
  width: 45%;
  height: 200px;
  background-color: #f1efe0;
  border: 5px solid #5c5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'BemirsDemo', sans-serif;
  opacity: 0;
  transform: translateX(100%); /* Initially off-screen */
  border-radius: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.block:hover {
  transform: translateY(-10px) scale(1.2); /* Subtle scaling effect on hover */
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

.left-block {
  transform: translateX(-100%) scale(1); /* Slide in from the left */
}

.animate.left-block {
  transform: translateX(0); /* Remove scaling on entry */
  opacity: 1;
}

.right-block {
  transform: translateX(100%) scale(1); /* Slide in from the right */
}

.animate.right-block {
  transform: translateX(0); /* Remove scaling on entry */
  opacity: 1;
}

.emoji {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  left: 30px; /* Move the emoji more to the left */
  margin: 0;
}

.emoji1 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  left: -60px; /* Move the emoji more to the left */
  margin: 0;
}

.text {
  color: #333;
  font-weight: bold;
  font-size: 5rem;
  position: relative;
  left: 100px; /* Increase this value to move it further to the right */
}

.text1 {
  color: #333;
  font-weight: bold;
  font-size: 5rem;
  position: relative;
  left: 0px; /* Increase this value to move it further to the right */
}

.text11 {
  color: #333;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  left: 30px; /* Increase this value to move it further to the right */
}

.text12 {
  color: #333;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  left: 70px; /* Increase this value to move it further to the right */
}

.text13 {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  left: 70px; /* Increase this value to move it further to the right */
}

.text14 {
  color: #333;
  font-weight: bold;
  font-size: 4.5rem;
  position: relative;
  left: 70px; /* Increase this value to move it further to the right */
}

.emoji2 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  left: -20px; /* Move the emoji more to the left */
  margin: 0;
}

.emoji11 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  left: 10px; /* Move the emoji more to the left */
  top: -20px;
  margin: 0;
}

.emoji12 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  top: -10px;
  left: 40px; /* Move the emoji more to the left */
  margin: 0;
}

.emoji13 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  top: -10px;
  left: 30px; /* Move the emoji more to the left */
  margin: 0;
}

.emoji14 {
  font-size: 7rem; /* Adjust the size of the emoji */
  position: relative;
  top: -10px;
  left: 40px; /* Move the emoji more to the left */
  margin: 0;
}

.text2 {
  color: #333;
  font-weight: bold;
  font-size: 5rem;
  position: relative;
  left: 0px; /* Increase this value to move it further to the right */
}

