/* Vol.css */

@font-face {
    font-family: 'CsClaireMono';
    src: url('../fonts/CsClaireMonoDemoRegular-0vdyX.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.Vol-container {
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between sections */
    width: 120%;
    position: relative;
    padding: 50px 0; /* Add padding to the container */
    background-color: #f9f7ea; /* Background color */
  }

.book {
  width: 450px;
  height: 580px;
  perspective: 1500px;
  position: relative;
  margin-left: -450px;
  transform: rotate(5deg);
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
.book2 {
    width: 450px;
    height: 580px;
    perspective: 1500px;
    position: relative;
    margin-top: 100px;
    margin-left: 1050px;
    transform: rotate(-5deg);
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }

.book:hover {
    transform: scale(1.1) rotate(2deg); /* Zoom in and maintain the rotation on hover */
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect when hovered */
  }

  .book2:hover {
    transform: scale(1.1) rotate(-2deg); /* Zoom in and maintain the rotation on hover */
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect when hovered */
  }

.page {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
  transform-origin: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.cover-front {
  background: #437e54;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cover-front1 {
    background: #ca4942;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cover-uoft {
  font-family: 'BemirsDemo', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  transition: opacity 1.5s;
  margin-left: 30px;
  margin-top: -300px;
}

.cover-uoft1 {
    font-family: 'BemirsDemo', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    transition: opacity 1.5s;
    margin-left: -200px;
    margin-top: 450px;
  }

.text-page {
  background: #ffffff;
  z-index: 9;
  padding: 3px;
  font-family: 'BemirsDemo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flipped .cover-uoft, 
.flipped .cover-uoft1 {
  opacity: 0; 
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.page-text {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.7;
}

.flipped .cover-text {
  opacity: 0;
}

.flipped {
  transform: rotateY(-180deg); /* Flip the page from left to right */
}

.page:nth-child(2) {
  z-index: 9;
}

.page:nth-child(3) {
  z-index: 8;
}

.invest {
    width: 150px;
    height: auto;
    margin-bottom: -30px;
}

.page-divider {
    width: 90%;
    border: 0;
    height: 2px;
    background-color: #333;
    margin: 10px 0;
  }

  .devsoc {
    width: 150px;
    height: auto;
    margin-bottom: -30px;
  }


  .cover-unsw {
    font-family: 'BemirsDemo', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    transition: opacity 1.5s;
    margin-top: -300px;
  }

  .cover-unsw1 {
    font-family: 'BemirsDemo', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    transition: opacity 1.5s;
    margin-top: 450px;
  }

  .flipped .cover-unsw,
.flipped .cover-unsw1 {
  opacity: 0;
}

.book3 {
    width: 450px;
    height: 580px;
    perspective: 1500px;
    position: relative;
    margin-top: 200px;
    margin-left: -300px;
    transform: rotate(8deg);
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }
  .book3:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
  }

  .cover-front2 {
    background: #2d5d9b;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover-lead {
    font-family: 'BemirsDemo', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    transition: opacity 1.5s;
    margin-top: -300px;
  }

  .cover-lead1 {
    font-family: 'BemirsDemo', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    transition: opacity 1.5s;
    margin-top: 450px;
  }
  
  .flipped .cover-lead,
  .flipped .cover-lead1 {
    opacity: 0;
  }

  .bloom {
    width: 150px;
    height: auto;
    margin-bottom: -30px;
  }

  .react1 {
    margin-top: 102px;
    margin-left: -325px;
    width: 100px;
    height: auto;
  }

  .jst {
    margin-top: -75px;
    margin-left: -115px;
    width: 105px;
    height: auto;
  }

  .htmlt {
    margin-top: -80px;
    margin-left: 105px;
    width: 110px;
    height: auto;
  }

  .csst {
    margin-top: -82px;
    margin-left: 325px;
    width: 110px;
    height: auto;
  }
  
  .rt {
    margin-top: 70px;
    margin-left: -100px;
    width: 110px;
    height: auto;
  }

  .excelt {
    margin-top: -82px;
    margin-left: 125px;
    width: 105px;
    height: auto;
  }
  

  .birds {
    position:relative;
  }
  
.bird {
    width: 100px;
    height: auto;
    margin-left: 00px;
    margin-top: 200px;
}